[buildout]
extensions =
    buildout.bootstrap
    mr.developer

extends =
    buildouts/solr.cfg
    buildouts/apache.cfg
    versions.cfg

parts =
    java-env-vars
    static
    django
    django-settings
    solr-config
    books-solr-config
    catalogues-solr-config
    copy-mysql-jars
    django-solr-config
    omelette
    apache
    apache-config
    apache-setup
    mysite-apache-config
    apache-virtualhost-config
    mod-wsgi-install
    mod-wsgi-config  

eggs =
    ${buildout:auto-checkout}
    Django
    MySQL-python
    Pillow
    simplejson

#    GnuPGInterface
#    Landscape-Client
#    PAM
#    Twisted-Core
#    command-not-found
#    httplib2
#    launchpadlib
#    lazr.restfulclient
#    lazr.uri
#    oauth
#    pexpect
#    prvious
#    pyOpenSSL
#    pycurl
#    pyserial
#    python-apt
#    smart
#    ufw
#    wadllib
#    wsgiref
#    zope.interface

auto-checkout =
    mysite
#    media
#    templates
#    solr

sources-dir = 
    ${buildout:directory}

versions = versions
show-picked-versions = true

[java-env-vars]
recipe = collective.recipe.environment
JAVA_HOME=/usr/lib/jvm/java-6-openjdk-amd64
PATH=$PATH:/usr/lib/jvm/java-6-openjdk-amd64/bin

[static]
recipe = z3c.recipe.mkdir
paths = static/

[hosts]
hostname = localhost

[django]
recipe = djangorecipe
settings = settings
eggs = ${buildout:eggs}
project = mysite.apache
extra-paths =
    ${buildout:directory}/mysite/apache
wsgi = true

[django-settings]
recipe = collective.recipe.template
input = conf/settings.py
output = ${buildout:directory}/mysite/apache/settings.py

[solr-config]
recipe = collective.recipe.template
input = conf/solr.xml
output = ${buildout:directory}/parts/solr/solr.xml

[books-solr-config]
recipe = collective.recipe.template
input = conf/solrconfig_catalogues.xml
output = ${buildout:directory}/parts/solr/solr/catalogues/conf/solrconfig.xml

[catalogues-solr-config]
recipe = collective.recipe.template
input = conf/solrconfig_books.xml
output = ${buildout:directory}/parts/solr/solr/books/conf/solrconfig.xml

[copy-mysql-jars]
recipe = collective.recipe.rsync
source = /usr/share/java/mysql*.jar
target = ${buildout:directory}/parts/solr/lib/

[django-solr-config]
recipe = collective.recipe.template
input = conf/config.py
output = ${buildout:directory}/mysite/mlgb/config.py

[apache-virtualhost-config]
recipe = collective.recipe.template
input = conf/ApacheVirtualHostWSGISetting.conf
output = /etc/apache2/sites-available/default

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[sources]
mysite = svn https://damssupport.bodleian.ox.ac.uk/svn/mlgb3/snapshot.2014.02.12/mysite
# we also need media and templates dir
#media = svn https://damssupport.bodleian.ox.ac.uk/svn/mlgb3/snapshot.2014.02.12/www/mlgb/media path=static/
#templates = svn https://damssupport.bodleian.ox.ac.uk/svn/mlgb3/snapshot.2014.02.12/www/mlgb/templates path=static/
#solr = svn https://damssupport.bodleian.ox.ac.uk/svn/mlgb3/snapshot.2014.02.12/solr path=parts/solr/solr/

