[apache]
recipe = hexagonit.recipe.cmmi
keep-compile-dir = true

# default apache conf
input = ${buildout:directory}/conf/apache2.conf
output = ${apache:location}/apache2.conf

# 'mysite' django/wsgi conf
input = ${buildout:directory}/conf/httpd.conf
output = ${apache:location}/httpd.conf

url = http://www.mirrorservice.org/sites/ftp.apache.org//httpd/httpd-2.2.26.tar.gz
configure-options =
    --prefix=${buildout:directory}/parts/apache
    --enable-so
    --enable-cgi
    --enable-info
    --enable-rewrite
    --enable-speling
    --enable-usertrack
    --enable-deflate
    --enable-ssl
    --enable-mime-magic
