[buildout]
parts +=
    solr-download
    solr
    copy-mysql-jars
#    copy-solr-cores
    books-config
    catalogues-config
    jetty-config
    catalogues-data-config
    books-data-config
    solr-conn

[solr-download]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
ignore-existing = true
url = http://archive.apache.org/dist/lucene/solr/${versions:apache-solr}/apache-solr-${versions:apache-solr}.tgz

[solr]
recipe = collective.recipe.solrinstance
solr-location = ${solr-download:location}
host = ${hosts:solr}
port = ${ports:solr}
max-num-results = 99
section-name = SOLR
unique-key = uniqueID
index =
    name:uniqueID type:string indexed:true stored:true required:true
    name:Foo type:text
    name:Bar type:date indexed:false stored:false required:true multivalued:true omitnorms:true
    name:Foo bar type:text
filter =
    text solr.LowerCaseFilterFactory

[copy-mysql-jars]
recipe = collective.recipe.rsync
source = /usr/share/java/mysql-connector-java-5.1.16.jar
target = ${buildout:directory}/parts/solr/lib/mysql-connector-java-5.1.16.jar

[copy-solr-cores]
recipe = collective.recipe.rsync
source = ${buildout:directory}/solr
target = ${buildout:directory}/parts/solr/
options = -r -av --partial --progress

#[solr-config]
#recipe = collective.recipe.template
#input = conf/solr.xml
#output = ${buildout:directory}/parts/solr/solr/solr.xml

[books-config]
recipe = collective.recipe.template
input = conf/solrconfig_books.xml
output = ${buildout:directory}/parts/solr/solr/books/conf/solrconfig.xml

[catalogues-config]
recipe = collective.recipe.template
input = conf/solrconfig_catalogues.xml
output = ${buildout:directory}/parts/solr/solr/catalogues/conf/solrconfig.xml

[jetty-config]
recipe = collective.recipe.template
input = conf/jetty.xml
output = ${buildout:directory}/parts/solr/etc/jetty.xml

[catalogues-data-config]
recipe = collective.recipe.template
input = conf/catalogues_data-config.xml
output = ${buildout:directory}/parts/solr/solr/catalogues/conf/data-config.xml

[books-data-config]
recipe = collective.recipe.template
input = conf/books_data-config.xml
output = ${buildout:directory}/parts/solr/solr/books/conf/data-config.xml

[solr-conn]
recipe = collective.recipe.template
input = conf/solr.py
output = ${buildout:directory}/mysite/solr.py

